

.course h1,.course p{
    background-color:white;
    height:70px;
    width: 100%;
    text-align: center;
    padding-top: 12px;
  }
  .course p{
    font-size: 17px;
  }
  
  .mapping-course{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
    height: 500px;
    background-color:white;
    
  }
  .courseimage {
    
    width:320px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 2px;  
    margin-bottom: 20px; 
  }
  
  .coursecontent{
    margin: 0px 20px;
    height: 400px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 12px;
    background: #155E95;
    cursor: pointer;
  }
  
  .mappingcontent h3{
    padding-top: 15px;
    padding-bottom: 12px;
    background: none;
    background-color:#155E95;
  }
  
  .mappingcontent p{
    
    padding-top: 8px;
    
    background: none;
    background-color:#155E95;
  }
  
  .coursecontent:hover {
    transform: scale(1.02);
  }

  .final-content h3{
    text-align:center;
    font-size:25px;
    padding-top:14px;
  }
  .final-content p{
    text-align:center;
    font-size:17px;
    padding-top:14px;
    padding-bottom: 35px;
  }


.description-list {
  list-style-type: disc; 
  list-style-position: inside; 
  text-align: center; 
  padding: 0; 
  margin: 0 auto; 
  display: table; 
  background-color: #155E95;
}

.description-list li {
  display: block; 
  text-align: left; 
  margin: 5px 0; 
  background-color: #155E95;
}

.description-list li::before {
  content: "•";}

  .learn-more-btn {
    background-color: blue;
    color:black;
    border: none;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 13px;
  }
  
  .learn-more-btn:hover {
    background-color:blue;
  }
  

  @media (max-width: 1024px) {
    .row {
      justify-content: space-around; 
    }
    .coursecomponent{
      height: 100%
    }
    .mapping-course {
      flex-direction: row;
      height: 950px; 
     
  }

  }


  @media screen and (max-width: 768px) {
    .mapping-course {
        flex-direction: column;
        height: auto; 
        gap: 20;
    }
   

    .course{
     padding-top: 100px;
    }
    .coursecontent {
      width: 80%;
      max-width: 260px;
 
      margin-bottom: 20px;
    
    }
    .courseimage {
      width: 100%;
      height: auto;
    }

   
  }
  
  @media screen and (max-width: 480px) {
    .coursecontent{
      max-width: 85%;
      height: 390px;
     
    }
     .course p {
      height: auto;
      padding-left: 16px;
      font-size: 14px;
      max-width: 95%;
      padding-bottom: 8px;
    }
    .course h1{
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
.final-content p{
font-size: 14px;
padding: 8px;
padding-top: 18px;


}

.final-content h3{
font-size: 16px;

}
    .mapping-course {
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
    }
    .coursecontent {
      width: 95%;
      padding: 15px;
    }
    .mappingcontent h3 {
      font-size: 16px;
      padding-top: 16px;
    }
    .coursecontent p {
      font-size: 14px;
    }

    .learn-more-btn {
   font-size: 10px;
   
    }

    .courseimage{
      width: 100%;
      height: 200px;
      margin-bottom: 2px;
    }

    .description-list li{
      font-size: 14px;
    }
    .mappingcontent {
     margin-bottom: 10px;
     background-color: #155E95
    }
    
  }
  