


.slider {
    width: 100%;
    position: relative;
  }
  
  .sliderimage {
    position: relative;
    width: 100%;
    height: 90vh; 
    overflow: hidden;
    background-position: center;
    background-image: url('./assets/image1.jpg');
    background-size: cover;
    animation: ChangeImage 20s linear infinite ;
  }

  @keyframes ChangeImage {
    0%{
      background-image: url('./assets/schoolimg1.jpeg');
    }
    25%{
      background-image: url('./assets/schoolimg3.png');
    }
  }
  
  .slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .homepage-about {
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-60%, -40%);
    /* background: rgba(0, 0, 0, 0.6);  */
    color: black;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background: none;
    font-size: 2rem;
    text-align: justify;
    height:10px;
    width:500px;
  }
  
  .homepage-about h1 {
    
    font-size: 32px;
    /* font-weight: bold; */
  }
  
  .marquee-container {
    /* background-color: #004080; */
    /* color: black; */
    padding: 10px 0;
    font-size: 20px;
    /* font-weight: bold; */
    text-align: center;
  }
  
  .marquee-content{
    background: none;
   
  }
  .marquee-content p {
    margin: 0;
  }
  
 
  @media (max-width: 768px) {
    .sliderimage {
      height: 80vh; 
    }
  
    .homepage-about {
      width: 80%;
      padding: 15px;
    }
  
    .homepage-about h1 {
      font-size: 24px;
    }
  
    .marquee-container {
      font-size: 16px;
    }
  }
  
 
  @media (max-width: 480px) {
    .sliderimage {
      height: 65vh;
    }
  
    .homepage-about {
      top: 70%;
      right: 20%;;
      width: 90%;
      padding: 10px;
    }
  
    .homepage-about h1 {
      font-size: 16px;
    }
  
    .marquee-container {
      font-size: 14px;
   gap: 10%;
    }
  }
  